/client/node_modules
/dist

/node-server/node_modules
/node-server/public

/springboot-server/target

.env*

node_modules

fly.dev.toml
fly-deploy-local.sh
/tests/*.html
/tests/*.xml
**/__pycache__/
*.pyc