.appointment, .login-form, .register-form {
    margin: auto;
    width: 300px;
    padding-top: 50px;
  }
  
.booking-form, .login-form, .register-form {
    display: flex;
    flex-direction: column;
}

h2 {
  margin-bottom: 10px;
  text-align: center;
}

.alert-message {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
  
input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
  
button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #0056b3;
  }
  
button:active {
    background-color: #004080;
}