* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0,0,0,0.5);
}

.site-logo img {
    width: 50%;
    height: 30%;
}

.site-pages {
    width: 40%;
    margin-right: 20%;
}

.site-pages a {
    color: aliceblue;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
}

.site-pages ul {
    display: flex;
    color:antiquewhite;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
    font-size: 25px;
}

.site-pages a:hover {
    background-color:rgba(0,0,0,0.4);
    margin-bottom: 10px;
    color:springgreen;
}

.nav li:active {
    background-color: #777;
}

.lgn-sgp {
    contain: content;
}

.lgn-sgp Button {
    width: 100%;
    padding: 20px;
    font-size: 15px;
    background-color: rgba(0,0,0,0.3);
}

.dropdown-menu {
    position: sticky;
    background-color: rgba(0,0,0,0.8);
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(8,8,8,100);
    border-radius: 5px;
    justify-content: space-around;
    margin: 5px 10px 5px 15px;
    z-index: 1;
    align-items: center;
}

.item {
    list-style:none;
    margin-bottom: 10px;
    color: aliceblue;
    text-align:left;
}

.dropdown-menu .item:hover {
    color: red;
    background-color: darkkhaki;
    margin-bottom: 15px;
}