name: Deploy to Fly.io

on:
  push:
    branches:
      - main
    paths:
      - "client/**"
      - "node-server/**"
      - "Dockerfile"
      - "fly.toml"
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    env:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
    concurrency:
      group: deploy-group
      cancel-in-progress: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Fly CLI
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy to Fly.io
        run: flyctl deploy --remote-only